# Data Science Tools and Ecosystem

Summarzing the Data Science Tools and Ecosytems in this notebook

Popular data science languages:

 1. Python
    2. R
    3. Julia
    4. SQL

Commonly used libraries in data science

1. Pandas
2. Matplotlib
3. Scikit-learn
4. ggplot2
5. carat

| Data Science Tools |
| ------------------ |
| My SQL |
| Kibana |
| ModuleDB |

### Below are a few examples of evaluating artithmetic expressions in Python

In [ ]:
# This is a simple artithmetic expression to multiply then add integers

In [2]:
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by dividing by 60

In [3]:
200/60

3.3333333333333335

In [ ]:
# Objectives:

- R
- Python
- Scala
- Java

## Author
Nick Carella